.delete_button {
    background-color: orangered;
    cursor: pointer;
    text-align: center;
    color: white;
    border: none;
    font-size: 16px;
    margin: 30px;
}

.add_button {
    background-color: greenyellow;
    cursor: pointer;
    text-align: center;
    color: white;
    border: none;
    font-size: 16px;
    margin: 30px;
}

form {
    display: inline;
}